<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.DayNight.NoActionBar"
        android:supportsRtl="true"
        tools:targetApi="31">
        <activity android:name=".GUI.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".GUI.LandingPageActivity"
            android:exported="true"
            tools:ignore="ExtraText">
        </activity>
        <activity android:name=".GUI.SignUpLauncherActivity"
            android:exported="true"
            tools:ignore="ExtraText">
        </activity>
        <activity android:name=".GUI.TUTOR_interfaces.TutorSignUpActivity"
            android:exported="true"
            tools:ignore="ExtraText">
        </activity>
        <activity android:name=".GUI.STUDENT_interfaces.StudentSignUp"
            android:exported="true"
            tools:ignore="ExtraText">
        </activity>
        <activity android:name=".GUI.LoginPageActivity"
            android:exported="true"
            tools:ignore="ExtraText">
        </activity>
        <activity android:name=".GUI.WelcomePage"
            android:exported="true"
            tools:ignore="ExtraText">
        </activity>
        <activity android:name=".GUI.ADMIN_interfaces.ComplaintOverviewActivity"
            android:exported="true"
            tools:ignore="ExtraText">
        </activity>
        <activity android:name=".GUI.ADMIN_interfaces.AdminInboxActivity"
            android:exported="true"
            tools:ignore="ExtraText">
        </activity>
        <activity android:name=".GUI.TUTOR_interfaces.TutorHubActivity"
            android:exported="true"
            tools:ignore="ExtraText">
        </activity>
        <activity android:name=".GUI.TUTOR_interfaces.AddTopicActivity"
            android:exported="true"
            tools:ignore="ExtraText">
        </activity>
        <activity android:name=".GUI.TUTOR_interfaces.ViewTopicsActivity"
            android:exported="true"
            tools:ignore="ExtraText">
        </activity>
        <activity android:name=".GUI.TUTOR_interfaces.TutorTopicsActivity"
            android:exported="true"
            tools:ignore="ExtraText">
        </activity>
    </application>


</manifest>